/* ------------------css generaux------------------ */

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
}
footer{
    font-family: Georgia, 'Times New Roman', Times, serif
}
main {
    background-color: #303030;
    color: white;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
p {
    font-size: 1.1rem;
}
a {
     text-decoration: none;
     color:red; 

}
li {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* ------------------------------------header---------------------- */

.navbar {
    /* background-color: rgb(255, 255, 255); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.icon {
    fill: black;
    cursor: pointer;
}
.navbar input, .nav-menu, .dropdown {
    display: none;
}

[id^=btn]:checked + ul {
    display: block;
}
/* quand id commencant par btn est coché, alors je cache mon menu ul*/

.nav-menu {
    position: absolute;
    background-color: #303030;
    top: 142px;
    left: 0;
    right: 0;
    padding-left: 20px;
    border-top: 5px #C6B700 solid;
    width: 100%;

}
.nav-item a, .drop-item a, .show{
    line-height: 70px;
    font-size: 1.4rem; 
    /* color: #fff; */
    background-color: #303030;
    padding: 20px;
    transition: all 1s ease-out;
    border-radius: 20px;
}

.nav-menu a:hover, .show:hover, .nav-menu a:focus, .show:focus{
 color: red;
 letter-spacing: 0.5rem;
 font-weight: bold;
 /* background-color: #fff; */
 
}
header img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-top: 20px;
}
/* ----------------main----------------------------- */
main{
    width: 100%;
}
.nouscontacter{
    margin-bottom: 25px;
}
main .nouscontacter i{
    font-size: 30px;
    padding: 20px;
}
main .nouscontacter h1{
    font-weight: bold;
    padding-top: 20px;
    font-size: 2.2em;
    color: #C6B700;
}

main .nouscontacter p{
    font-size: 1.2rem;
}
main .nouscontacter a{
    color: white;
}
main .nouscontacter a:hover{
    color: red;
}
span {
    text-decoration: underline;
}
/* ---------------------formulaire------------------------------------------- */
.container {
    min-width: 580px;
}
#formulaire p {
    margin-top: 15px;
    font-size: 1.3rem;
    text-transform: uppercase;
    
}
#formulaire input {
    font-style: italic;
    height: 20px;
}
#formulaire input, #formulaire textarea {
    width: 60%;
    padding:5px;
}
#formulaire input:focus, #formulaire textarea:focus, #formulaire button:hover {
 
    background-color: lightgreen;
}

#formulaire button {
    width: 20%;
    padding: 5px 0;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#formulaire button:hover {
    transition: all 0.3s ease-in 0s;
}
#formulaire button a {
    color: #303030;
    font-weight: bold;
    text-shadow: 2px 2px 4px white;
}
input#name, #email, textarea#message {
    font-size: 1.1rem;
}
#formulaire span {
    text-decoration: none;
    color: rgb(184, 27, 27);
    font-size: 1.9rem;
}
input#rgpd {
    width: 20px;
}
#rgpd-lien {
    color: #fff;
}
#rgpd-lien:hover {
    color: rgb(184, 27, 27);;
}
#obligatoire{
    font-style: italic;
    font-weight: bold;
    font-size: 0.9rem!important;
    color: rgb(184, 27, 27);
    width:61%;
}
/*------------------dividers-----------------------*/

.divider {
    border-bottom: 5px #C6B700 solid;
    width: 100%;
}
/* .little-divider {
    border: rgb(224, 0, 0) 1px solid;
    width: 10%;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
} */

/*------------------------ fin dividers------------------------- */

/* -----------------------------main map------------------------------ */
main #map h2{
    font-size: 1.4rem;
    color: rgb(184, 27, 27);
}
main #map iframe, #map h2 {
    margin-bottom: 20px;
}
/* -------------------footer------------------------- */

/* footer {
    display: flex;
    background-color: white;
    color: #303030;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 20px;
    height: 200px;
    padding-right: 20px;
}
footer h4{
    margin-bottom: 10px; 
    font-size: 1.4rem;
    text-decoration: underline red;
}
#propos {
    margin: 0 auto;
} */

@media screen and (min-width:990px) and (max-width:1199px) {
    
    main #map iframe {
        margin-bottom: 20px;
        width:600px; 
        height:450px;
    }
    main {
        width: 100%;
    }
    main .nouscontacter i{
        font-size: 40px;
    }
    #formulaire button {
        max-width: 235px;
    }
    #formulaire input, #formulaire textarea {
        max-width: 600px;
    }
    #phone, #formulaire label {
        font-size: 1.2rem;
    }
}
@media screen and (min-width:1200px) {
    
    main #map iframe {
        margin-bottom: 20px;
        width:800px; 
        height:600px;
    }
    main {
        width: 100%;
    }
    main .nouscontacter i{
        font-size: 50px;
    }
    #phone, #formulaire label {
        font-size: 1.5rem;
    }
    /* ---------------------------formulaire---------------------------- */
    #formulaire input, #formulaire textarea {
        max-width: 800px;
    }
   /* ------------------- menu navigation------------------------------- */
    .icon {
        display: none;
    }
    .nav-menu {
        display: initial;
        position: static;
        border-top: none;
    }
    .nav-item {
        position: relative;
        display: inline-block;
        margin-left: 20px;
    }
    .dropdown {
        position: absolute;
        background-color: #303030;
        top: 70px;
        right: 0;
        padding: 40px;
        width: max-content;
    }
    .nav-menu a {
        color: #303030;
        font-weight: bold;
        }
    .nav-menu, .nav-item, .nav-menu a {
        background-color: white;
        }

}
